---
---

@charset "utf-8";

/*
 * Variables
 */

$font-size-base: 16px !default;
//
// $font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
// $font-size-h2: floor(($font-size-base * 2.3)) !default; // ~30px
// $font-size-h3: ceil(($font-size-base * 1.9)) !default; // ~24px
// $font-size-h4: ceil(($font-size-base * 1.6)) !default; // ~18px
// $font-size-h5: $font-size-base !default;
// $font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$dark-grey: #6D6D6D;
// $white: #fff;

/*
 * General styles
 */

body {
     background-color: #272b30 !important;
}

.navbar-custom.top-nav-collapse {
  background: #272b30 none repeat scroll 0 0 !important;
}

section {
  padding-top: 30px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}

.venue {
  padding-top: 15px;
  font-size: 18px;
}

.popup-content {
  color: #000;
  font-size: 14px;
}

#map {
  width: 100%;
  height: 330px;
  margin-bottom: 30px;
  margin-top: 0px !important;
}

.thumbnail span {
  color: #000;
  font-size: 20px;
}

.thumbnail:hover {
  background-color: #ddd;
}

.modal-title, .modal-body {
  color: #272b30 !important;
}

.modal-body p {
  font-size: 18px !important;
  margin: 10px 0;
}

.modal-body h4 {
  margin: 25px 0;
}

.caption p {
  margin: 7px 0 !important;
}

.fb_iframe_widget {
  display: inline !important;
  padding: 4px 0;
  position: absolute !important;
}

.twitter-col {
  padding-right: 7px;
}

.fb-col {
  padding-left: 7px;
}

.nav li a {
  padding: 10px;
}

.content-section {
  padding-top: 80px !important;
}

/* Language bar
---------------------------------------------- */
.nav-lang {
  font-size: 12px;
  background: rgba(255,255,255,0.2);
  padding-left: 10px;
  padding-right: 10px;
  li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Index
---------------------------------------------- */
.intro {
  background-image: linear-gradient(rgba(0,0,0,.3), rgba(39,43,48,1)), url('{{ site.baseurl }}/images/sp-bg-compressed.jpg');
  h1 {
    margin-left: auto;
    margin-right: auto;
    width: 422px;
    line-height: 30px;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-bottom: 13px;
    border-bottom: 1px solid #fff;
    img {
      display: block;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff;
    }
  }
  .about-button {
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;
    .btn-item {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#join-us {
  .thumbnail {
    padding: 20px;
    height: 200px;
  }
}

h3 {
  margin: 0;
}

.sponsors {
  margin-bottom: 15px;
  text-transform: none !important;
}

.social-icon {
  width: 60px;
  padding: 0 10px;
}

.bottom-espace {
  margin-bottom: 30px;
}

#program-board {
  background-color: #fff;
}

#program-board p, #program-board label {
  margin: 10px 0 !important;
}

#program-board p {
  font-size: 16px;
  color: #000;
}

.talk-title {
  font-weight: bold;
  // color: #2e6da4 !important;
}

#program-board span {
  font-size: 12px;
  color: #31708f;
}

#program-board .col-xs-1 {
  border-top: 1px solid #b2b2b2;
}

.auditorium {
  border-top: 1px solid #b2b2b2;
  border-left: 1px solid #b2b2b2;
}

.room {
  border-top: 1px solid #b2b2b2;
}

.empty {
  border-left: 1px solid #b2b2b2;
}

.btn-program {
  border-radius: 3px;
  background-color: #ddd;
}

.btn-program:hover {
  border-radius: 3px;
  background-color: #ddd;
}

.col-xs-1, .col-xs-11 {
  padding: 0 !important;
}

.grid--borderBetween > [class*='col-']:before,
.grid--borderBetween > [class*='col-']:after {
    background: #b2b2b2;
    bottom: 0;
    content: " ";
    position: absolute;
    width: 1px;
    top: 0;
}
.grid--borderBetween > [class*='col-']:before {
    left: 0;
}
.grid--borderBetween > [class*='col-']:after {
    right: -1px;
}
.grid--borderBetween > [class*='col-']:first-child:before,
.grid--borderBetween > [class*='col-']:last-child:after {
    display: none;
}
