---
---

@charset "utf-8";

/*
 * Variables
 */

$font-size-base: 16px !default;
//
// $font-size-h1: floor(($font-size-base * 2.6)) !default; // ~36px
// $font-size-h2: floor(($font-size-base * 2.3)) !default; // ~30px
// $font-size-h3: ceil(($font-size-base * 1.9)) !default; // ~24px
// $font-size-h4: ceil(($font-size-base * 1.6)) !default; // ~18px
// $font-size-h5: $font-size-base !default;
// $font-size-h6: ceil(($font-size-base * 0.85)) !default; // ~12px

$dark-grey: #6D6D6D;
// $white: #fff;

/*
 * General styles
 */

section {
  padding-top: 30px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Language bar
---------------------------------------------- */
#sotm-langbar {
  a {
    padding: 5px 5px;
  }
}

/* Index
---------------------------------------------- */
.intro {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.9)), url('{{ site.baseurl }}/images/sp-bg-compressed.jpg');
  h1 {
    margin-left: auto;
    margin-right: auto;
    width: 422px;
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    img {
      display: block;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff;
    }
  }
  .about-button {
    display: table;
    margin: 0 auto;
    .btn-item {
      width: 1%;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

#join-us {
  .thumbnail {
    padding: 20px;
    height: 300px;
  }
}

// .layer {
// 		background-color: rgba(248, 247, 216, 0.7);
// 		// position: absolute;
// 		// top: 0;
// 		// left: 0;
// 		width: 100%;
// 		height: 100%;
// }

// $base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
// $dark-bg: black;
//
// html,body {
// 	font-family: $base-font-family;
// }
//
// a {
// 	color: #000;
// 	text-decoration: none;
// }

/*
 * Fixed navbar
 */



/* Colors
---------------------------------------------- */
// .color-red1{ color:#bd0606; }
// .dark { color: #fff; }


/* Home
---------------------------------------------- */
// #masthead {
//   background: url(../img/sp.jpg) center no-repeat;
// 	background-size: cover;
//   padding: 80px 0 100px;
// 	margin: 0 0 60px;
// 	position: relative;
// 	text-align: center;
// 	&:before {
// 		content: '';
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		bottom: 0;
// 		right: 0;
// 		background: rgba(255,255,255,0.6);
// 	}
// 	.row {
// 		position: relative;
// 		z-index: 2;
// 	}
// 	.photo-credit {
// 		font-size: 12px;
// 		position: absolute;
// 		bottom: 5px;
// 		right: 5px;
// 		color: rgba(255,255,255,0.5);
// 		margin: 0;
// 	}
// 	.latam-logo {
// 		width: 100px;
// 		padding: 8px;
// 		border: 2px solid #982e2e;
// 		display: inline-block;
// 		border-radius: 100%;
// 		margin: 0 0 20px;
// 		img {
// 			width: 100%;
// 			height: auto;
// 			display: block;
// 		}
// 	}
// 	h1,
// 	h2 {
// 		text-align: center;
// 		color: #000;
// 		margin: 0;
// 		a {
// 			color: inherit;
// 		}
// 	}
// 	h1 {
// 		font-size: 24px;
// 		font-weight: 800;
// 	}
// 	h2 {
// 		font-size: 65px;
// 		font-weight: 100;
// 		color: #982e2e;
// 		margin: 0 0 60px;
// 	}
// 	h3 {
// 		margin: 0 0 120px;
// 	}
//
// 	#maininfo {
// 		background: #982e2e;
// 		display: inline-block;
// 		padding: 20px 40px;
// 		color: #fff;
// 		font-size: 24px;
// 		p.date {
// 			display: inline-block;
// 			margin: 0;
// 			text-transform: uppercase;
// 			span {
// 				font-weight: 800;
// 			}
// 		}
// 	}
//
//   #mastnav {
//     ul {
//       margin: 5px 0 0;
//       padding: 0;
//       list-style: none;
//       float: right;
//     }
//
// 		a {
// 			@extend .dark;
// 		}
//
//     li {
//       margin: 0 0 0 20px;
//       padding: 0;
//       position: relative;
//       float: left;
//     }
//   }
//
// }

// #mastfooter {
//   background: $dark-bg;
//   padding: 20px 0;
//
//   #pagesnav {
//     ul {
//       margin: 5px 0 0;
//       padding: 0;
//       list-style: none;
//       float: right;
//     }
//
// 		a {
// 			@extend .dark;
// 		}
//
//     li {
//       margin: 0 0 0 20px;
//       padding: 0;
//       position: relative;
//       float: left;
//     }
//   }
//
// }
