<!-- <div id="mastfooter">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <a class="dark site-title" href="/">
          <div class="title-sotm">State of the Map 2016</div>
          <div class="title-sp">São Paulo</div>
        </a>
      </div>
      <div class="eight columns">
        <nav id="pagesnav">
          <ul>
            {% for page in site.pages %}
              {% if page.title %}
                <li>
                  <a class="page-link" href="{{ page.permalink | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
      </nav>
    </div>
  </div>
</div> -->

<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
