<div id="mastfooter">
  <div class="container">
    <div class="row bottom-espace text-center">
      <div class="col-sm-12 col-md-3 col-md-offset-3">
        {% assign indexPage=site.pages | where:"ref", "index" | where:"lang", page.lang %}
        <a class="dark site-title" href="{{ indexPage.url }}">
          <div class="title-sotm">State of the Map LATAM 2016</div>
        </a>
      </div>
      <div class="col-sm-12 col-md-3">
        <a href="https://osm.org"><img class="social-icon" src="{{ "/images/osm.png" | prepend: site.baseurl }}" alt="OpenStreetMap" /></a>
        <a href="https://twitter.com/osmlatam"><img class="social-icon" src="{{ "/images/tw.png" | prepend: site.baseurl }}" alt="twitter" /></a>
        <a href="https://www.facebook.com/osmlatam/"><img class="social-icon" src="{{ "/images/fb.png" | prepend: site.baseurl }}" alt="facebook" /></a>
      </div>
    </div>
  </div>
</div>

<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/3.3.7/js/grayscale.min.js"></script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
