<div id="masthead">
  <div class="row">
    <div class="latam-logo">
      <img src="{{ "/img/latam.png" | prepend: site.baseurl }}" />
    </div>
    <h1>
      <a href="{{ "/" | prepend: site.baseurl }}">
        State of the Map LATAM
      </a>
    </h1>
    <h2>São Paulo</h2>
    <div id="maininfo">
      <p class="date">Novembro<span>2016</span></p>
    </div>
    <!--
    <div class="eight columns">
      <nav id="mastnav">
        <ul>
          <li>
            <a href="{{ "/participe" | prepend: site.baseurl }}">Participe</a>
          </li>
          <li>
            <a href="{{ "/programacao" | prepend: site.baseurl }}">Programação</a>
          </li>
          <li>
            <a href="{{ "/sao-paulo" | prepend: site.baseurl }}">Conheça a cidade</a>
          </li>
          <li>
            <a href="{{ "/sobre" | prepend: site.baseurl }}">Sobre o evento</a>
          </li>
        </ul>
      </nav>
    </div>
    -->
  </div>
  <p class="photo-credit">Foto: André Deak</p>
</div>
