<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="The Latin American OpenStreetMap Conference">
  <meta name="author" content="OpenStreetMap Latinoamerica">
  <meta property="og:image" content="http://state.osmlatam.org/images/sotm_dark.png" />
  <meta property="og:site_name" content="State of the Map Latam 2016" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="State of the Map Latam 2016" />
  <meta property="og:description"
  content="La Conferencia Latinoamericana de OpenStreetMap. 25-27 Nov, São Paulo, Brasil." />
  <meta property="og:url" content="http://state.osmlatam.org/" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@osmlatam">
  <meta property="twitter:image" content="http://state.osmlatam.org/images/sotm_dark.png" />
  <meta name="twitter:title" content="State of the Map Latam 2016" />
  <meta name="twitter:description"
  content="La conferencia latinoamericana de OpenStreetMap. 25-27 Nov, São Paulo, Brasil." />
  <meta name="twitter:url" content="http://state.osmlatam.org/" />

<!-- Translations -->
<link hreflang="en" href="http://state.osmlatam.org/" rel="alternate">
<link hreflang="pt-br" href="http://state.osmlatam.org/pt/" rel="alternate">
<link hreflang="es" href="http://state.osmlatam.org/es/" rel="alternate">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/3.3.7/css/grayscale.min.css">
  <!-- Leaflet -->
	<link rel="stylesheet" href="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.css" />
	<script src="https://npmcdn.com/leaflet@0.7.7/dist/leaflet.js"></script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
